div.profile-card {
  border: 1px solid #000;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: #5b6897;
}

img {
  margin-top: 19px;
}

header {
  margin-top: 12px;
  margin-right: 3px;
  font-size: 24px;
  font-style: italic;
}

section.started {
  padding-top: 20px;
}

section.age {
  padding-top: 10px;
}

section.activities {
  padding-top: 10px;
  line-height: 1.5;
}

a {
  color: #5b6897;
}

hr {
  margin: 28px 15px 0 15px;
}

section.description {
  margin: 20px;
  line-height: 1.6;
}
