<div class="profile-card">
  <img src="assets/avatar.png" alt="">
  <header>{{modelInfo.name | uppercase}}</header>
  <section class="started">Started: {{modelInfo.yearStarted}}</section>
  <section class="age">Age: {{modelInfo.age}} years</section>
  <section class="activities">
    Activities:
    <span *ngFor="let activity of modelInfo.activities; let i = index;">
      <a [href]="activity.url">{{activity.title}}</a>,
      <span *ngIf="i < modelInfo.activities.length - 1">&nbsp;</span>
    </span>
  </section>
  <hr>
  <section class="description">{{modelInfo.description}}</section>
</div>
